@using Schemes.ViewModels
@model SchemesCustomerLabelsVM

@{
    ViewData["Title"] = "GetSchemesList";
    Layout = "~/Views/Shared/MasterPage.cshtml";
    string availableFor = ViewBag.AvailableFor;
}
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<!-- Custom styles for this template-->
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

@*<!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<div style="text-align: center;color: black; font-weight: bold;top :20px;font-size:20px;">
    Schemes Available For @availableFor
</div>
<table class="table table-hover schemestable align-content-center" id="schemestable" style="color:black; top:40px; font-size:15px;background-color:white;border-block-color:black;width: 1114px;">
    <thead class="thead-dark" style="background-color:#4e73df">
        <tr>
            <th class="d-none">
            </th>
            <th style="">
                Name Of the Scheme
            </th>
            <th>
                Description
            </th>
            <th>
                Eligibility Criteria
            </th>
            <th class="d-none">
                Benefits
            </th>
            <th class="d-none">
               Area
            </th>
            <th class="d-none">
               Documents Required
            </th>
            <th>
                Apply And Link
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SchemeDetailList) {
            <tr>
                <td class="d-none">
                    @item.SchemesDetailID
                </td>
                <td >
                    <a> @Html.DisplayFor(modelItem => item.NameOftheScheme)
                    </a>
            </td>
            <td>
                    <a>  @Html.DisplayFor(modelItem => item.Description)</a>
            </td>
            <td>
                    <a> @Html.DisplayFor(modelItem => item.EligibilityCriteria)</a>
            </td>
                <td class="d-none">
                    <a> @Html.DisplayFor(modelItem => item.Benefits)</a>
            </td>
                <td class="d-none">
                    <a> @Html.DisplayFor(modelItem => item.Area)</a>
            </td>
                <td class="d-none">
                    <a> @Html.DisplayFor(modelItem => item.DocumentsRequired)</a>
            </td>
            <td >
                    <a> @Html.Raw(item.ApplyAndLink)</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal" id="tblschemedetailsDiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel"></h5>
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
    <table id="tblschemedetails" class="table table-bordered" style="color:black;font-size:16px">
        <thead>

            <tr>
                <td>
                    Name Of the Scheme
                </td>
                <td id="NameOftheScheme"></td>
                </tr>
                <tr>
                <td>
                    Description
                </td>
                <td id="Description"></td>
            </tr>
            <tr>
                <td>
                    Eligibility Criteria
                </td>
                <td id="EligibilityCriteria"></td>
            </tr>
            <tr>
                <td>
                    Benefits
                </td>
                <td id="Benefits"></td>
            </tr>
            <tr>
                <td>
                    Area
                </td>
                <td id="Area"></td>
            </tr>
            <tr>
                <td>
                    Documents Required
                </td>
                <td id="DocumentsRequired"></td>
            </tr>
            <tr>
                <td>
                    Apply And Link
                </td>
                <td id="applyandlink"></td>
            </tr>
            <tr>
        </thead>

    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#accordionSidebar").addClass("d-none");
    });
    let table = new DataTable('#schemestable', {
        order: [[1, 'desc']],
        columnDefs: [
            { "orderable": false, "targets": [0,2,3, 4, 5, 6] },
            { "orderable": true, "targets": [1] }
        ]
    });

    
    table.on('click', 'tbody tr', function () {
        let data = table.row(this).data();
        $("#tblschemedetailsDiv").modal('show');
        $("#exampleModalLabel").html(data[1]);
        $("#tblschemedetails #NameOftheScheme").html(data[1]);
        $("#tblschemedetails #Description").html(data[2]);
        $("#tblschemedetails #EligibilityCriteria").html(data[3]);
        $("#tblschemedetails #Benefits").html(data[4]);
        $("#tblschemedetails #Area").html(data[5]);
        $("#tblschemedetails #DocumentsRequired").html(data[6]);
        $("#tblschemedetails #applyandlink").html(data[7]);
    });
    $(".closeBtn").on('click', function(){
        $("#tblschemedetailsDiv").modal('hide');
    });
    $(".dataTables_filter").addClass("d-none");
    $("#schemestable_length,#schemestable_info,#schemestable_paginate").attr("style", "font-size:12px");
    $("#schemestable_wrapper").attr("style", "top:30px");


</script>

