@model IEnumerable<Schemes.ViewModels.LoanDetails>

@{
    ViewData["Title"] = "GetBanksLoanList";
}


<p style="left:100%">
    <a class="btn btn-primary" asp-action="AddBanksLoanDetails">Add New</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Loan Interest Detail ID
            </th>
            <th>
                Bank Name
            </th>
            <th>
                Loan Type
            </th>
            <th>
                Min Loan Amount
            </th>
            <th>
                Max loan Amount
            </th>
            <th>
                Min Interest Rate
            </th>
            <th>
                Max Interest Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanInterestDetailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinLoanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxloanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinInterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxInterestRate)
            </td>
            <td>
                    @Html.ActionLink("Edit","UpdateBanksLoanDetails", new { id = item.LoanInterestDetailID }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
