@model Schemes.ViewModels.SchemesCustomerLabelsVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>THR</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/SchemesWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    @*<!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>




</head>
<body id="page-top">
    <style>
        .dropdown-container {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    @{
        var id = ViewBag.CustomerID;
        int customerId = 0;
        if (int.TryParse(id, out customerId))
        {
            // Conversion succeeded, customerId now holds the integer value
        }
        else
        {
            // Conversion failed, handle the error or set a default value
        }
        var Lang = ViewBag.Selectedlang;
        var url = "";
    }
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home/HomePage">
                <div class="sidebar-brand-icon pt-0">
                    <img src="~/img/Fineasee_logo.png" style="width:50%;padding-bottom:10px;padding-right:10px;padding-left:10px;height:40%;background-color:white" />
                </div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item" id="EmpShow">
                <a class="nav-link" href="~/Home/HomePage?customerID=@customerId&&LangCode=@Lang" style="color:white"><span>@Model.SideBarLabel1</span></a>
            </li>
            <!-- Nav Item - Tables -->

            <li class="nav-item">
                <a class="nav-link collapsed" id="Schemes" href="#" data-toggle="collapse" data-target="#collapseUtilities2"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    
                    <span>@Model.SideBarLabel2</span>
                </a>
                <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item" id="schemeBtn">@Model.SideBarLabel3</a>
                        <a class="collapse-item" id="schemeBtn">@Model.SideBarLabel4</a>
                        <a class="collapse-item" id="schemeBtn">@Model.SideBarLabel5</a>
                    </div>
                </div>

            </li>

            
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->

            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div>
                        <h1 class="p-0">
                            <div style="color: #4e73df; padding-left:250px; font-size:45px; margin-block:unset;padding-bottom:0px;">
                                <span>Fineasee</span>
                                <div class="" style="font-size:8px;padding-left: 150px; color : black; top:-10px">Finance made easy</div>

                            </div>
                        </h1>

                    </div>
                    
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li >
                            
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-container">
                                <label for="language">Select a language:</label>
                                <select id="language">
                                    <option value="en">English</option>
                                    <option value="hi">Hindi</option>
                                    <option value="kn">Kannada</option>
                                    <option value="ml">Malayalam</option>
                                    <option value="ta">Tamil</option>
                                    <option value="te">Telugu</option>
                                    <option value="ur">Urdu</option>
                                </select>
                                <input type="hidden" id="selectedlanguage" />
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1" hidden>
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hidden="hidden">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Banks
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle " href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hidden="hidden">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile_1.svg "
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.Name</span>
                                <img class="img-profile rounded-circle " src="~/img/undraw_profile.svg">
                            </a>
                           
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                 @if(customerId>0)
                                 {
                                <a class="dropdown-item" id="viewprofile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <span class="profileimg">@ViewBag.CustomerName</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Login/LogOut" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                    </a>

                                    <a class="dropdown-item" href="~/Home/InactivateCustomer?customerID=@customerId" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Deactivate Account
                                    </a>
                                }
                                else
                                {
                                    <p style="text-align:center">Login or Register</p>
                                    <a class="dropdown-item btn btn-primary" href="~/Login/Login" style="color:blue;">
                                       Login
                                    </a>
                                    <p style="text-align:center">or</p>
                                    <a class="dropdown-item" href="~/Login/CustomerRegistration" >
                                        Registration
                                    </a>
                                }
                            </div>
                        </li>

                    </ul>
                </nav>
                <div id="disable" hidden>
                    <table id="tblprofiledetails" class="table table-bordered ">
                        <thead>
                            
                            <tr>
                                <td><b>FirstName</b></td>
                                <td id="firstName"></td>
                            </tr>
                            <tr>
                                <td><b>LastName</b></td>
                                <td id="lastName"></td>
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td id="email"></td>
                            </tr>
                            <tr>
                                <td><b>PhoneNo</b></td>
                                <td id="phno"></td>
                            </tr>
                            <tr>
                                <td><b>DOB</b></td>
                                <td id="dob"></td>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="container">
                    @RenderBody()
                    
                </div>
                <div class="round hollow text-right chatButtonDiv" style="right:10px">
                    <a  class="open-btn btn-primary" id="addClass"><img src="~/img/chatIcon.png" aria-hidden="true" /> Chat</a>
                </div>


                <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar d-none" style="background-color:white;right:20px">

                    <div class="popup-head">
                        <div class="popup-head-left pull-left chatheader">
                            <img class="md-user-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)">
                            <h1 class="align-content-center" style="margin-top:11px;margin-left:17px;">Customer Support</h1>
                        </div>
                        <div class="popup-head-right pull-right">
                            <button type="button" class="close closeBtn " style="color:white;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="chat_box touchscroll chat_box_colors_a">
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="md-user-image">
                                </div>
                                <ul class="chat_message agent-text">
                                    <li>
                                        <p> Hello,How Can I help you? </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chat_submit_box">
                        <div class="uk-input-group row">
                            <input type="text" placeholder="Type a message" id="submit_message" class="col-7" style="border-color:dimgrey;margin-left:19px">
                            <span class="uk-input-group-addon col-3">
                                <a class="btn btn-primary" href="#">Send</a>
                            </span>


                        </div>
                    </div>
                </aside>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Login/LogOut">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="langaugeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary okbtn" type="button" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var lang = "";
        $(document).ready(function () {
            lang = "@ViewBag.Selectedlang";
            var selectedLanguage = lang;
            localStorage.setItem('selectedlan', selectedLanguage);
            $('#language').on('change', function () {
                selectedLanguage = document.getElementById('language').value;
                $("#selectedlanguage").val(selectedLanguage);
                // $("#langaugeModal").modal('show');
                // $("#langaugeModal").find(".modal-body").html("Language Changed to " + document.getElementById('language').value);
                $('#language').val(selectedLanguage);
                if (selectedLanguage != localStorage.getItem('selectedlan'))
                {
                    localStorage.setItem('selectedlan', selectedLanguage);
                }
                var currentURL = window.location.href.toString();

                // Define the substring to check
                var substring = "home/homepage";

                // Check if the current URL contains the substring
                if (currentURL.toLowerCase().indexOf(substring) !== -1) {
                    $.ajax({
                        url: "/Home/HomePage",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        data: {
                            customerID: @customerId,
                            LangCode: localStorage.getItem("selectedlan")
                        },
                        success: function (data) {
                            // Navigate to the HomePage view
                            window.location.href = "/Home/HomePage?customerID=" + @customerId + "&LangCode=" + localStorage.getItem("selectedlan");
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                } else {
                    $.ajax({
                        url: "/Home/GetSchemesList",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        data: {
                            name: $("#schemeName").html(),
                            langCode: localStorage.getItem("selectedlan")
                        },
                        success: function (data) {
                            // Navigate to the GetSchemesList view
                            window.location.href = "/Home/GetSchemesList?name=" + $("#schemeName").html() + "&langCode=" + localStorage.getItem("selectedlan");
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                }
            });

            $("#schemeBtn").on("click", function () {
                $.ajax({
                    url: "/Home/GetSchemesList?name=" + $(this).text() + "&langCode=" + localStorage.getItem("selectedlan"),
                    type: "GET",
                    dataType: "html",

                    success: function (data) {

                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
           
            $("#disable").hide();

            $(function () {
                $("#addClass").click(function () {
                    $('#sidebar_secondary').addClass('popup-box-on');
                });
                $(".open-btn").click(function () {
                    $('#sidebar_secondary').removeClass('d-none');
                    $('.chatButtonDiv').addClass('d-none');

                });
                $("#removeClass").click(function () {
                    $('#sidebar_secondary').removeClass('popup-box-on');
                });


                $('#sidebar_secondary').on('click', 'span.uk-input-group-addon a', function () {
                    var message = $('#submit_message').val(); // Get entered text

                    $('.chat_box').append('<div class="chat_message_wrapper chat_message_right">' +
                        '<ul class="chat_message "><li><p>' + message + '</p></li></ul></div>');
                    $('#submit_message').val('');
                    $.ajax({
                        type: 'GET',
                        url: "Home/Chatbot?message=" + message,
                        contentType: 'application/json',
                        success: function (response) {
                            $('.chat_box').append('<div class="chat_message_wrapper"><div class="chat_user_avatar"><img src = "https://bootdey.com/img/Content/avatar/avatar1.png" class="md-user-image"></div>' +
                                '<ul class="chat_message"><li><p>' + response + '</p></li></ul></div>');
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                });
                $(".closeBtn").on('click', function () {
                    $('#sidebar_secondary').addClass('d-none');
                    $('.chatButtonDiv').removeClass('d-none');

                });

            });
            $('#sidebarToggle').click(function () {
                $('#accordionSidebar').toggleClass('sidebar-hidden');
            });
        });
    </script>
</body>
</html>
